.main {
  position: relative;
}

.main-discount {
  background-image: url("/assets/images/image1.png");
  max-height: 640px;
  min-height: 200px;
  aspect-ratio: 2.0625;
  background-size: cover;
  background-repeat: no-repeat;
}
