<div class="main container mt-5 gx-0 pb-4 h-auto">
  <div class="main-slick">
    <div class="main-discount position-relative d-flex">
      <div class="discount-info position-absolute align-self-center mx-2 mx-sm-5 px-1 px-sm-5">
        <div class="discount-title h1 mb-1 mb-md-5 mb-sm-3"><strong>Скидки на травянные чаи</strong></div>
        <div class="discount-text h5 py-1 py-md-4 py-sm-3">Узнай все подробности, заполнив заявку</div>
        <div class="discount-action mt-1 mt-md-5 mt-sm-3">
          <button class="btn btn-primary px-5 hvr-grow-shadow">Заполнить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="faq container mt-5 justify-content-center">
  <div class="row">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8">
      <div class="faq-title h1 text-center mb-5"><strong>Ответы на часто задаваемые вопросы</strong></div>
      <div id="faq-accordion">
        <h3>Собираете ли вы подарочные боксы?</h3>
        <div>
          <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
            стоимость!</p>
        </div>
        <h3>Сколько у вас разновидностей чая?</h3>
        <div>
          <p>Существует более 1500 различных сортов чая, растущих более чем в 25 странах-производителях по
            всему
            миру. В зависимости от обработки чайного листа, и только от этого, различают черный,
            зеленый,
            красный и желтый чай. Черный чай - это лист, прошедший все этапы обработки (завяливание,
            скручивание, ферментация, сушка, сортировка). Зеленый проходит только скручивание и сушку.
            Его
            называют еще неферментированным. Между ними - желтый и красный чаи.</p>
        </div>
        <h3>В какой срок осуществляется доставка?</h3>
        <div>
          <p>Если в договоре срок доставки товара не определен и отсутствуют возможности определить этот
            срок,
            товар должен быть передан продавцом в разумный срок. Обязательство, не исполненное в
            разумный
            срок,
            продавец должен выполнить в 7-дневный срок со дня предъявления покупателем требования о его
            исполнении. За нарушение продавцом сроков передачи товара покупателю продавец несет
            ответственность
            в соответствии с гражданским законодательством Российской Федерации.</p>
        </div>
        <h3>У вас обновляется ассортимент?</h3>
        <div>
          <p>Обновление ассортимента — качественные и количественные изменения перечня имеющихся товаров,
            характеризующиеся способностью удовлетворять изменившиеся потребности потребителя.
            Характеризуется
            этот показатель коэффициентом обновления (Кн, %), который вычисляется по формуле: Кн = (Н ×
            100)/Ш.
            где Н — показатель новизны (количество новых видов и наименований товаров), а Ш — общее
            количество
            видов, разновидностей и наименований товаров тех же однородных групп.</p>
        </div>
        <h3>Какого объема у вас пачки чая?</h3>
        <div>
          <p>Их фасуют в пачки по 100 штук. Такая упаковка, получается, вытягивает 160 г. У Hyson помимо
            стандартных есть по 1,8 грамма в пачках по 25 и 100 штук, это 45 и 180 г соответственно. А
            также
            чайные пакетики и вовсе по 1,5 грамма. В пачке их 60 штук, итого 90 г. У ТИ ТЭНГ наоборот
            есть
            увеличенные пакетики. По 2,5 грамма. В пачке 25 или 100 штук, итого 62,5 или 250 г. Бывают
            упаковки,
            в которых несколько сортов чая. Например, 6 сортов по 10 пакетиков. Итого 60 штук, которые
            дадут
            120
            г чая.</p>
        </div>
      </div>
      <div class="col-1 col-md-2"></div>
    </div>
  </div>
</div>

<app-popup></app-popup>
